.spacer{
    aspect-ratio: 960/200;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.layer01{
    background-image: url('./layered-waves-haikei.svg');
}